@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    color: darkblue;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    justify-content: space-between;
    background-position: inherit;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.info-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0rem;
    border-bottom: 3px groove red;
    padding-bottom: 1rem;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.left-side {
    font-size: 2rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0rem;
}

.pokemon-stats {
    padding-left: 3rem;
    margin: 0rem;
    font-size: 1.5rem;
    align-self: center;
}

h1, #pokemon-name {
    font-style: bold;
    font-size: 2rem;
    text-decoration: overline underline;
    text-transform: uppercase;
}

#pokemon-image {
    padding: 0rem;
    margin-bottom: 0rem;
    /* border: 2px solid gold; */
    border-radius: 40%;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1rem;
}

li {
    padding: 1rem;
}

.pokemon-blurb {
    font-size: 1.4rem;
    border-bottom: 3px groove red;
}

footer {
    color: black;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 20%;
    border: 2px dashed black;
    margin-top: 1rem;
}

h6 {
    font-size: 1rem;
    
}

button {
    margin: auto;
    background: gray;
    border-radius: 15%;
    color: black;
    font-size: 1.7rem;
    padding: 1rem;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

input {
    margin: auto;
    font-size: 1.6rem;
    size: 1rem;
    padding: 0.5rem;
}

.pokeball-bg {
    background: linear-gradient(red, black, silver, black, silver);
}

.gen5-bg {
    background: linear-gradient(rgb(10, 10, 10), gray, lightgray, rgb(22, 22, 22))
}