@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');

* {
  box-sizing: border-box;
}

body {
    color: orangered;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background: linear-gradient(rgb(34, 34, 34), gray, silver, white) */
}

h1 {
    font-style: bold;
    font-size: 5rem;
    text-decoration: overline;
    text-transform: uppercase;
    text-shadow: 1rem goldenrod;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

#pokemon-image {
    padding: 0rem;
    margin-bottom: 0rem;
    border: 2px solid gold;
    border-radius: 50%;
}

footer {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
}

#pokemon-blurb {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

.pokeball-bg {
    background: linear-gradient(red, black, silver, black, silver);
}

.gen5-bg {
    background: linear-gradient(silver, gray, lightgray, rgb(34, 34, 34))
}

button {
    background: gray;
    border-radius: 35%;
    color: black;
    font-size: 1.5rem;
}

input {
    font-size: 1rem;
    size: 2rem;
}

#background-button {
    background: gray;
    border-radius: 35%;
}